body{
    background-image: url(./bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.col-md-5{
background-image: url(./bg4.png);
background-size: cover;
background-repeat: no-repeat;
height: 500px;
border-radius: 10px;
padding-top: 100px;
}
.div{
    width: 350px;
    margin: auto;
}